.difficulty-selector {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  font-size: 32px;
}

.difficulty-selector h2{
  font-weight: 400;
}

.difficulty-container {
  display: flex;
  gap: 20px;
}

.difficulty-container button {
  width: 100px;
  font-family: inherit;
  padding: 10px 0px;
  border-radius: 10px;
  color: white;
}

.easy {
  background-color: #228b22;
}

.easy:hover {
  background-color: rgb(76, 160, 76);
}

.medium {
  background-color: #ffc72c;
}

.medium:hover {
  background-color: #ffd561;
}

.hard {
  background-color: #8b0000;
}

.hard:hover {
  background-color: #ad0000;
}
